@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Paytone+One&display=swap");
:root {
  --darkblue: #000957;
  --midblue: #344cb7;
  --lightblue: #577bc1;
  --white: #f8fafc;
  --paytone: "Paytone One", serif;
  --inter: "Inter Tight", serif;
}
::-webkit-scrollbar {
  width: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  background: var(--darkblue);
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-family: var(--paytone);
  color: var(--white);
  font-size: 4rem;
  text-align: center;
}
h2,
.form-inline label {
  font-size: 2rem;
}
p {
  font-size: 1.1rem;
}
h2,
p {
  font-family: var(--inter);
  color: var(--lightblue);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.index-header {
  padding-top: 3rem;
}
.container-games {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem 0 3rem 0;
  width: 60vw;
  margin: auto;
}
.content-games {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  background: var(--midblue);
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(39, 36, 60, 0.285);
  min-height: 40vh;
  transition: transform 0.3s ease;
}
.content-games.level {
  min-height: 10vh;
  flex-direction: column;
}
.content-left h1,
.content-left p {
  text-align: justify;
}
.content-right {
  height: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.content-left .content-text,
.content-right {
  display: none;
  opacity: 0;
}
.content-games:hover .content-left .content-text,
.content-games:hover .content-right {
  display: block;
  opacity: 1;
}
.content-games:hover .content-left,
.content-games:hover .content-right {
  width: 50%;
}
.content-games:hover {
  transform: scale(1.05);
}
.background-image {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
