img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.logo-pencil {
  display: flex;
  gap: 5px;
  align-items: end;
}
.logo-pencil img {
  width: 50px;
}
.hero-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
.grid-1,
.grid-2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.grid-1 {
  height: 100%;
}
.grid-2 {
  height: 37vh;
}
.grid-1 .item-1,
.grid-1 .item-2,
.grid-2 .item-3 {
  display: flex;
  min-width: 0;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.grid-2 .item-4 {
  display: flex;
  min-width: 0;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.grid-1 .item-1,
.grid-1 .item-2 {
  flex: 1;
}
.grid-1 .item-2 {
  text-align: center;
  flex-direction: column;
  gap: 20px;
}
.grid-2 .item-3 {
  flex: 0.5;
}
.grid-2 .item-4 .item-img {
  position: absolute;
  bottom: -30%;
  right: 3%;
  height: 120%;
}
.grid-2 .item-4 {
  flex: 1.5;
}
.item-4 .side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  max-width: 70%;
}
.heading-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading-between p {
  text-align: end;
}
.heading-center {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.grid-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  gap: 50px;
}
.game-item {
  padding: 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
section.games .game-item {
  height: 35vh;
}
section.levels .game-item {
  aspect-ratio: 1;
}
section.games .game-item h4 {
  max-width: 35%;
}
section.games .game-item .item-img {
  position: absolute;
  bottom: -30%;
  right: -20%;
  height: 120%;
}
section.levels .game-item {
  justify-content: space-between;
  flex-direction: column;
}
section.levels .game-item .item-img {
  position: absolute;
  bottom: -30%;
}
