html {
  width: 100%;
  height: 100%;
  background: var(--green);
  overflow: hidden;
}
.game {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.controls {
  display: flex;
  align-items: start;
  gap: 20px;
  margin-bottom: 20px;
}
button {
  background: var(--purple);
  color: var(--white);
  border-radius: 5px;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;
  font-weight: bold;
}
.disabled {
  color: rgba(255, 251, 237, 0.5);
  background: #460035;
  cursor: not-allowed;
}
.stats {
  color: var(--white);
  font-size: 14pt;
  font-weight: bold;
}
.board-container {
  position: relative;
}
.board,
.win {
  border-radius: 5px;
  box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
  background: var(--cream);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  backface-visibility: hidden;
}
.board {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
}
.board-container.flipped .board {
  transform: rotateY(180deg) rotateZ(50deg);
}
.board-container.flipped .win {
  transform: rotateY(0) rotateZ(0);
}
.card {
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
  color: var(--green);
}
.card-front,
.card-back {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: var(--purple);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg) rotateZ(50deg);
  font-size: 28pt;
  user-select: none;
  text-align: center;
  line-height: 100px;
  background: var(--white);
}
.card.flipped .card-front {
  transform: rotateY(180deg) rotateZ(50deg);
}
.card.flipped .card-back {
  transform: rotateY(0) rotateZ(0);
}
.win {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: var(--white);
  transform: rotateY(180deg) rotateZ(50deg);
}
.win-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21pt;
  color: var(--purple);
}
.highlight {
  color: var(--green);
}
